<template>
  <v-container>
    <v-flex class="text-xs-right">
      <div>
        <v-dialog v-model="dialog" persistent max-width="500">
          <v-btn slot="activator" color="primary" dark>Новая статья</v-btn>
          <v-card>
            <v-card-title class="headline">{{formTitle}} <v-spacer></v-spacer> <v-icon @click="dialog = false">close</v-icon></v-card-title>
            
            <v-card-text>
              <v-text-field
                v-model="editedArticle.name"
                label="Name"
              ></v-text-field>
              <v-text-field
                v-model="editedArticle.price"
                label="Price"
              ></v-text-field>
              <v-text-field
              label="Bedrooms"
              v-model="editedArticle.bedrooms"
              ></v-text-field>
              <v-text-field
              label="Bathrooms"
              v-model="editedArticle.bathrooms"
              ></v-text-field>
              <v-text-field
              label="Storeys"
              v-model="editedArticle.storeys"
              ></v-text-field>
              <v-text-field
              label="Garages"
              v-model="editedArticle.garages"
              ></v-text-field>
            </v-card-text>
            <v-card-actions>
              <v-btn color="red darken-1" flat @click="clear">Clear</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" flat @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
    </v-flex>
     
    <v-card>
      <v-card-title>
        <h1>Articles </h1>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="articles"
        :loading="loading"
        :search="search"
      >   
        <v-progress-linear v-slot:progress color="blue" indeterminate></v-progress-linear>
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">{{ props.item.id }}</td>
          <td class="text-xs-left"><router-link :to="'/article/'+props.item.id">{{ props.item.name }}</router-link></td>
          <td class="text-xs-left">{{ props.item.price }}</td>
          <td class="text-xs-left">{{ props.item.bedrooms }}</td>
          <td class="text-xs-left">{{ props.item.bathrooms }}</td>
          <td class="text-xs-left">{{ props.item.storeys }}</td>
          <td class="text-xs-left">{{ props.item.garages }}</td>
          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              @click="openEditModal(props.item)"
            >
              edit
            </v-icon>
            <v-icon
              small
              @click="deletearticle(props.item)"
            >
              delete
            </v-icon>
          </td>
        </template>

        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
    
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        loading: true,
        dialog: false,
        editedIndex: -1,
        loader: true,
        editedArticle: {
          id: '',
          name: '',
          bedrooms: '',
          bathrooms: '',
          storeys: '',
          garages: '',
        },
        defaultItem: {
          id: '',
          name: '',
          bedrooms: '',
          bathrooms: '',
          storeys: '',
          garages: '',
        },
        search: '',
        headers: [
          {
            text: 'ID',
            align: 'left',
            sortable: true,
            value: 'id'
          },
          // 'name', 'price', 'bedrooms', 'bathrooms', 'storeys', 'garages'
          { text: 'Name', value: 'name' },
          { text: 'Price', value: 'price' },
          { text: 'Bedrooms', value: 'bedrooms' },
          { text: 'Bathrooms', value: 'bathrooms' },
          { text: 'Storeys', value: 'storeys' },
          { text: 'Garages', value: 'garages' },
          { text: 'Actions', value: 'name', align: 'center', sortable: false }
        ]
      }
    },
    created() {
      this.$store.dispatch('articles/initData');
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Новая статья' : 'Редактирование статьи'
      },
      articles() {
        this.loading = false
        return this.$store.getters['articles/getData']
      }
    },
    methods: {
      save () {
        // Проверяем create это или edit
        if (this.editedIndex > -1) {
            this.editArticle()
        } else {
            this.createArticle()
        }
        this.close()
      },
      openEditModal(item) {
        this.editedIndex = this.articles.indexOf(item)
        this.editedArticle = Object.assign({}, item)
        this.dialog  = true
      },
      createArticle() {
        this.$store.dispatch('articles/add', this.editedArticle)
      },
      editArticle() {
        this.$store.dispatch('articles/update', this.editedArticle)
      },
      deletearticle(item) {
        this.$store.dispatch('articles/delete', item.id)
      },
      close () {
        this.dialog = false,
        this.editedArticle = {}
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },
      clear () {
        this.editedArticle.name = ''
        this.editedArticle.code = ''
      }
    },
    watch: {
      dialog (val) {
        val || this.close()
      }
    }
  }
</script>

<style scoped>

</style>
