<template>
  <v-app>
    <v-parallax
      dark
      src="https://infoplus.ua/images/i/askodachiveoriginal"
    >
      <v-layout
      align-center
      column
      justify-center
      style="text-shadow: 0 5px 15px rgba(0,0,0,1);"
      >
        <h1 class="display-2 font-weight-thin mb-3">Архив</h1>
        <h4 class="subheading">Здесь выведены все записи</h4>
      </v-layout>
    </v-parallax>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex xs12 v-if="loader">
                <v-progress-circular
                :size="500"
                :width="20"
                color="primary"
                indeterminate
                ></v-progress-circular>
            </v-flex>
            <v-flex xs6 v-for="article in articles" :key="article.id">
                <v-card>
                    <v-container fill-height fluid>
                        <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                            <span class="headline">{{article.name}}</span>
                        </v-flex>
                        </v-layout>
                    </v-container>
                    <v-card-title>
                      <v-list-tile>
                        <v-list><v-chip label>Price: {{article.price}}</v-chip></v-list>
                        <v-list><v-chip label>Bedrooms: {{article.bedrooms}}</v-chip></v-list>
                        <v-list><v-chip label>Bathrooms:  {{article.price}}</v-chip></v-list>
                        <v-list><v-chip label>Storeys:  {{article.storeys}}</v-chip></v-list>
                        <v-list><v-chip label>Garages: {{article.garages}}</v-chip></v-list>
                      </v-list-tile>
                    </v-card-title>
                </v-card>
            </v-flex>
      </v-layout>
    </v-container>
 </v-app>
</template>

<script>
export default {
  data() {
   return {
      dialog: false,
      loader: true,
   }
  },
  created() {
    this.$store.dispatch('articles/initData');
  },
  computed: {
    articles() {
      this.loader = false
      return this.$store.getters['articles/getData']
    }
  }
}
</script>
